<!-- coffee/templates/coffee/management_panel.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Panel</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Product Sales</h1>
    <pre>{{ chart_data|safe }}</pre>
    {% for category, products in chart_data.items %}
        <h2>{{ category }}</h2>
        <canvas id="chart-{{ category }}"></canvas>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var ctx = document.getElementById('chart-{{ category }}').getContext('2d');
                var data = {{ products|safe|escapejs }};

                console.log('Data for {{ category }}:', data);

                var productLabels = data.map(obj => obj.product);
                var productCounts = data.map(obj => obj.count);

                console.log('Product Labels for {{ category }}:', productLabels);
                console.log('Product Counts for {{ category }}:', productCounts);

                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: productLabels,
                        datasets: [{
                            label: 'Sales',
                            data: productCounts,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        </script>
    {% endfor %}
</body>
</html>
