<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>افزودن محصول جدید</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-field">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-field">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-field">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-field">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>
        <div class="form-field">
            {{ form.timeNeeded.label_tag }}
            {{ form.timeNeeded }}
        </div>
        <div class="form-field">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="form-field">
            {{ form.coffee.label_tag }}
            {{ form.coffee }}
        </div>
        <div class="form-field">
            {{ form.milk.label_tag }}
            {{ form.milk }}
        </div>
        <div class="form-field">
            {{ form.chocolate.label_tag }}
            {{ form.chocolate }}
        </div>
        <div class="form-field">
            {{ form.flour.label_tag }}
            {{ form.flour }}
        </div>
        <div class="form-field">
            {{ form.sugar.label_tag }}
            {{ form.sugar }}
        </div>
        <div class="form-field">
            {{ form.vertical.label_tag }}
            {{ form.vertical }}
        </div>
        <input type="submit" value="ذخیره">
    </form>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_product.css' %}">
    <script>
        $(function() {
            const categories = [
                {% for value, label in form.fields.category.choices %}
                {"value": "{{ value }}", "label": "{{ label }}"},
                {% endfor %}
            ];

            const select = $('.category-slider');
            const slider = $('#category-slider');
            
            slider.slider({
                min: 0,
                max: categories.length - 1,
                slide: function(event, ui) {
                    select.val(categories[ui.value].value).change();
                }
            });

            select.hide().change(function() {
                const value = $(this).val();
                const index = categories.findIndex(category => category.value === value);
                slider.slider("value", index);
            }).change();

            select.trigger('change');
        });
    </script>
</body>
